

@media screen and (min-width: 577px){
    .drop-nav {
        display: none;
    }
    .nav-list li {
        margin-bottom: 0;
    }

    .nav-content {
        display: grid;
        grid-template-columns: 1fr 1fr 5fr;
        padding-top: 2rem;
        grid-template-rows: 1fr;
        /* justify-content: space-between;
        align-items: center; */
    }

    .nav-custom {
        justify-self: center;
    }
    .nav-list {
        display: flex;
        justify-content: space-evenly;
        width: 50vw;
        padding-left: 5rem;
        height: auto;
    }

    .nav-content .logo {
        justify-self: start;
        align-self: center;
        width:25vw;
        margin: 0;
    }
    .nav-content .smile {
        justify-self: end;
        align-self: center;
        margin: 0;
        padding-right: 1rem;
        width: 5.5vw;
        height: 3.5vw;
    }

    .grid-pros {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .grid-pro-item img {
        width: 18.5vw;
    }

    .hero-content .ad-list {
        justify-content: space-evenly;
        margin-bottom: 8vw;
    }

/* carouesel */

    .carousel {
        padding-left: calc(17.5vw);
    }   
    .carousel .f-c {
        display: flex;
    }
    .carousel .f-c img {
        width: 18.5vw;
        height: 18.5vw;
        /* height: auto; */
        /* margin-left: -100px; */
    }

    .carousel .f-c > div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 0 0 20px;
        width: 42vw;
        margin-top: -7vw;
    }

    .button-prev,
    .button-next {
        top: 18vw;
    }

    /* carousel2 */
    .card-1, 
    .card-1-b {
        width: 35vw;
    }
    /* .show {
        width: 1000vw;
    } */

    .carousel2, 
    .carousel2-b {
        padding-left: calc((((100vw - 70vw) - (20px)) / 2) );
        padding-top: 8vw;
    }

    .cd-prev2 {
        --w: 35vw;
    }

    .cd-next2 {
        --m: 65vw;
    }

    .main .learn {
        margin-top: 10vw;
        font-size: 5vw;
    }

    /* membership */
    .member-grid {
  
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .mgrid-item {
        max-width: 30vw;
    }
    .mgrid-item img {
        width: 7vw;
    }
    /* footer */
    .footer {
        padding-top: 30px;
    }
    .footer .logo-socials{
        flex-direction: row;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
    }

    .logob img {
        width: 5.25vw;
        margin-left: 10px;
    }
    
    .logob img:nth-child(2) {
        width: 17.5vw;
    }

}

@media screen and (min-width: 769px) {
    .nav-content .logo {
        width:170px;
    }

    .main .learn {
        margin-top: 5vw;
        font-size: 2.5vw;
    }
    

    .nav-content .smile {
        justify-self: end;
        align-self: center;
        margin: 0;
        padding-right: 1rem;
        width: 50px;
        height: 33px;
    }

    .nav-list {
        width: 418px;
        padding-left: 0;
        margin-right: calc(5px + 4vw);
    }

    .nav-custom {
        justify-self: end;
    }

    .hero-content .part1 h1 {
        font-size: calc(3rem + 3vw);
        margin-top: 6vw;
    }

    .learn {
        margin-top: 8vw;
        font-size: 2vw;
        margin-bottom: 3vw;
    }

    .hero-content .ad-list {
        margin-bottom: 2vw;
        width: calc(420px + 2vw);
    }

    .grid-pro-item img {
        width: 8vw;
    }

    .grid-pros {
        padding: 0 10vw;
    }


    /* carousel */

    .carousel .f-c img {
        width: 13vw;
        height: 13vw;
        margin-top: -0vw;
        /* height: auto; */
        /* margin-left: -100px; */
    }

    .button-prev svg,
    .button-next svg {
        width: 10vw;
        height: 10vw;
    }

    .carousel {
        padding-left: calc(15.5vw);
        padding-top: calc(85px + 3vw);
        padding-bottom: 8vw;
    } 

    .carousel .f-c > div {

        margin: 0 0 0 6vw;
        width: 50vw;
        margin-top: calc((15px + .5vw) * -1);
    }

    .button-prev,
    .button-next {
        top: 150px
    }
    .button-next {
        right: 0;
    }
    
    .button-prev {
        left: 0;
    }

    /* carousel 2 */

    .carousel2, 
    .carousel2-b {
        padding-top: 2.5vw;
        padding-bottom: 8vw;
    }

    /* .r-user p {
        font-size: 90%;
    } */


    /* memebership */

    .member-grid {
        margin-top: 7vw;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .mgrid-item {
        max-width: 20vw;
        font-size: 80%;
    }
    .mgrid-item img {
        width: 5.5vw;
    }

    /* footer */

    .footer {
        padding-top: 30px;
    }
    .footer .logo-socials{
        padding-left:10%;
        padding-right: 10%;
    }

    .logob img {
        width: 2.25vw;
        margin-left: 10px;
    }
    
    .logob img:nth-child(2) {
        width: 9.5vw;
    }
    

}

@media screen and (min-width: 902px){
    .card-1, 
    .card-1-b {
        width: 17.5vw;
    }
    .cd-prev2 {
        --w:  17.5vw;
    }
    .cd-next2 {
        --m: 82.5vw;
    }

    .carousel2, 
    .carousel2-b {
        padding-left: calc((((100vw - 70vw) - (60px)) / 2) );
    }

    .mgrid-item {
        max-width: 15.5vw;
    }
    .mgrid-item img {
        width: 4vw;
        font-size: 100%;
    }

    .member-grid {
        padding-left: 5vw;
        padding-right: 5vw;
        
    }
}